:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 400;

  --Red: rgba(224, 54, 122, 1);
  --Green: rgba(122, 224, 54, 1);
  --Blue: rgba(54, 122, 224, 1);
  --Yellow: rgba(224, 156, 54, 1);

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  z-index: 10;
}

#main,
#rootMain,
#mainInfo {
  color: black;
  border: #d5d5d51f solid 10px;
  border-radius: 66px;
  overflow: hidden;
  background-color: rgb(255 255 255 / 25%);
  width: 400px;
  margin: 15px;
  padding: 0;
}

#mainInfo {
  background-color: #ffffffc7;
  padding: 10px;
  width: 600px;
}

.container-fluid {
  padding: 0;
  padding: 15px 0;
}

a {
  font-weight: 500;
  color: #333dff;
  text-decoration: inherit;
}

a:hover {
  color: #333dff;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  height: 100vh;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;

}

h1 {
  font-size: 2.0em;
  line-height: 1.1;
}

h2 {
  font-size: 1.2em;
  line-height: 1.1;
}

h3 {
  font-size: 1.0em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.profilePicCol.col {
  width: 400px;
  flex: none;
}


#main img.backPic,
#rootMain img.backPic {
  content: var(--backPic);
  height: 185px;
  opacity: .8;
  filter: blur(20px);
  height: 167px;
  overflow: hidden;
  display: block;
  border-radius: 50px;
}

.profilePicSection {
  background-color: #ffffff;
}

.profilePic {
  width: 145px;
  height: 164px;
  z-index: 1000;
  border-radius: 50%;
  padding: 0;
  box-shadow: 10px 7px 11px #12121245;
  position: absolute;
}

.profilePicRow {
  justify-content: center;
}

.about {
  text-align: left;
  /* display: none; */
}

h2 {
  font-size: 1.2em;
  line-height: 1.1;
}

.profileTextRow {
  font-size: 20px;
  font-weight: 800;
}

.profileFa {
  margin-bottom: 3px;
  margin-right: 3px;
}

.ProfileBtnRow.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.ProfileBtnRow div {
  max-width: 120px;
}

.profileBtn.profileRes {
  background-color: var(--Blue);
  border-radius: 10px;
}

.profileBtn.liLink {
  background-color: var(--Red);
  border-radius: 10px;
}

.profileBtn.ghLink {
  background-color: var(--Yellow);
  border-radius: 10px;
}

.profileBtn a {
  color: white;
}

.ProfileBtnRow.row div {
  margin: 0 3px;
  opacity: 0;
  text-align: center;
  transform: translateX(5000px);
}


#background,
#backgroundGrav {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  z-index: 0;
  opacity: 0;
  transition: opacity 5s;
}

.background::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  transition: backdrop-filter 3s;
  backdrop-filter: grayscale(1) sepia(.0) hue-rotate(0deg);
}

.background-change::before {
  content: '';
  backdrop-filter: grayscale(0) sepia(.0) hue-rotate(0deg);
}

#background>img,
#backgroundGrav>img {
  min-width: 100vw;
  object-fit: cover;
}

.profileText {
  /* backdrop-filter: blur(8px);
  transition: color 2s ; */
}

.carousel-indicators {
  margin: 1rem 0 0 0;
}

.carousel.slide {
  height: 300px;
}

.carousel-inner {
  width: 81%;
  margin-left: 53px;
}


@media (max-height: 501px) {

  h1,
  h2,
  h3 {
    font-size: 2.2em;
  }

}

@media (max-width: 501px) {

  #root {
    padding: 1rem;
  }

  h1 {
    font-size: 1.5em;
  }

  h2  {
    font-size: 1.2em;
  }

  h3 {
    font-size: 1.0em;
  }

  #mainInfo {
    padding: 10px;
    width: 436px;
  }

  .carousel.slide {
    height: 364px;
  }

}