:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 400;

  --Red: rgba(224, 54, 122);
  --Green: rgba(122, 224, 54);
  --Blue: rgba(54, 122, 224);
  --Yellow: rgba(224, 156, 54);

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffffdb;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  z-index: 10;
}

html body {
  overscroll-behavior-x: none;
  background-color: #ffffff00;
}

#mainContent {
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 100px);
  scrollbar-color: white #919191;
  scroll-behavior: smooth;
}

.fullHeight {
  position: relative;
  /* background-image: url(assets/backgrounds/hubble_deep.jpg); */
}

div#mainTitle {
  height: calc(100vh - 100px);
  position: relative;
}

div#mainTitleContainBorder {
  border: solid black 1px;
  border-radius: 30px;
  margin: auto;
  backdrop-filter: blur(3px);
  padding: 5px 10px;
  background-color: #ffffffb3;
  opacity: 1;
  transition: opacity 1s 2s ease-in-out;
}

div#mainTitleContainBorder.hidden {
  opacity: 0
}

div#subTitle {
  font-size: 35px;
}

.word {
  white-space: nowrap;
  display: inline-block;
}

.about {
  justify-content: center;
  min-height: 66%;
  align-content: space-around;
}

#main,
#rootMain,
#mainInfo {
  color: black;
  /* border: #d5d5d51f solid 10px; */
  /* border-radius: 66px; */
  overflow: hidden;
  /* background-color: rgb(255 255 255); */
  margin: 15px;
  padding: 0;
  text-align: center;
}

#mainInfo {
  border-radius: 30px;
  backdrop-filter: blur(3px);
  padding: 2em 1em;
  background-color: #ffffffb3;
  opacity: 1;
  border: solid black 1px;
}

#rootMain {
  min-width: 400px;
  max-width: 400px;
}

.mainInfo {
  transition: opacity 0.5s ease-in, transform 1s ease-out;
  opacity: 0;
  padding: 10px;
  max-width: 600px;
  min-width: 600px;
}

#contactContainer {
  transition: opacity 0.5s ease-in, transform 1s ease-out;
  opacity: 0;
}

#main.main.mainShow,
#mainInfo.main.mainShow {
  opacity: 1;
  transform: scale(1);
}

.container-fluid {
  padding: 0;
  padding: 15px 0;
}

a {
  font-weight: 500;
  color: #333dff;
  text-decoration: inherit;
}

a:hover {
  color: #333dff;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  height: 100vh;
  font-family: "Questrial", Helvetica, Arial, sans-serif;

}

h1 {
  font-size: 2.0em;
  line-height: 1.1;
}

h2 {
  font-size: 1.2em;
  line-height: 1.1;
}

h3 {
  font-size: 1.0em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.profilePicCol.col {
  width: 400px;
  flex: none;
}


#main img.backPic,
#rootMain img.backPic {
  content: var(--backPic);
  height: 185px;
  opacity: .8;
  filter: blur(20px);
  height: 167px;
  overflow: hidden;
  display: block;
  border-radius: 50px;
}

.profilePicSection {
  background-color: #ffffff;
}

.profilePic {
  width: 145px;
  height: 164px;
  z-index: 1000;
  border-radius: 50%;
  padding: 0;
  box-shadow: 10px 7px 11px #12121245;
  position: absolute;
}

.profilePicRow {
  justify-content: center;
}

.about {
  text-align: left;
  /* display: none; */
}

h2 {
  font-size: 1.2em;
  line-height: 1.1;
}

.profileTextRow {
  font-size: 20px;
  font-weight: 800;
}

.profileFa {
  margin-bottom: 3px;
  margin-right: 3px;
}

.ProfileBtnRow.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.ProfileBtnRow a {
  max-width: 120px;
  color: rgb(255, 255, 255);
}

.profileBtn.profileRes {
  background-color: var(--Blue);
  border-radius: 10px;
}

.profileBtn.liLink {
  background-color: var(--Red);
  border-radius: 10px;
}

.profileBtn.ghLink {
  background-color: var(--Yellow);
  border-radius: 10px;
}

.profileBtn a {
  color: white;
}

.ProfileBtnRow.row a {
  margin: 0 3px;
  padding: 0;
  opacity: 0;
  text-align: center;
  transform: translateX(5000px);
}

.footerSection {
  display: flex;
  /* align-content: space-around; */
  flex-wrap: wrap;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: black solid 1px;
  /* margin: 0 20px; */
  /* background: #f8f9fa; */
}

.footerItem {
  display: flex;
  padding: 10px 20px;
}

.footerItemRight {
  margin-left: auto;
}

.footerFa {
  margin-bottom: 3px;
  margin-right: 3px;
}

.footerBtn a {
  color: white;
}

.footerItem .footerFa {
  margin-top: auto;
  margin-bottom: auto;
  color: black;
}


#background,
#backgroundGrav {
  position: absolute;
  width: 100%;
  height: calc(100vh - 100px);
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  z-index: 0;
  opacity: 0;
  transition: opacity 5s;
  overflow: hidden;
}

#background>img {
  transition: filter 3s;
  filter: grayscale(1) sepia(.0) hue-rotate(0deg);
  transform: scale(1.0);
}

#background>img,
#backgroundGrav>img {
  min-width: 100vw;
  object-fit: cover;
}

#background>img.zoomed,
#backgroundGrav>img.zoomed {
  transition: transform 22s ease-in;
  transform: scale(1.1);
}

#background>img.background-change,
#backgroundGrav>img.background-change {
  transition: transform 15s ease-out, filter 3s linear;
  filter: grayscale(0) sepia(.0) hue-rotate(0deg);
  transform: scale(1.2);
}

div#vidContainer {
  position: absolute;
  width: 100%;
  height: calc(100vh - 100px);
  left: 0;
  top: 0;
  overflow: hidden;
}

#dropVid {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  transition: transform 0s 8s ease-in, opacity 1000ms 2s;
  opacity: 0;
  transform: scale(2.2);
}

#dropVid.dropVid-changed {
  transition: transform 10s ease-out, opacity 1000ms;
  transform: scale(1.0);
  opacity: 1;
}

/* .profileText {
  backdrop-filter: blur(8px);
  transition: color 2s ;
} */

.carousel-indicators {
  margin: 1rem 0 0 0;
}

.carousel.slide {
  height: 300px;
}

.carousel-inner {
  width: 81%;
  margin-left: 53px;
}

.nav {
  top: 0px;
  left: 0px;
  width: 100%;
  position: sticky;
  opacity: 0;
  transform: scale(.6);
  z-index: 1000;
}

.navbar,
.navbar-default {
  /* background:rgb(255, 255, 255)!important; */
  background: transparent !important;
}

.nav-link {
  color: black !important;
}

.footerBtn.ghLink {
  padding: 0 20px;
}

.nav.show {
  transition: opacity 1s, transform 1s;
  opacity: 1;
  transform: scale(1);
}

div#basic-navbar-nav {
  /* z-index: 0; */
  top: 0px;
  width: 100%;
  border: none;
}

.open-menu {
  cursor: pointer;
}

.open-menu span {
  display: block;
  width: 50px;
  height: 4px;
  margin-bottom: 12px;
  background-color: rgb(0, 0, 0);
  transition: transform 300ms linear;
}

button.navbar-toggler,
button.navbar-toggler:focus {
  outline: none;
  text-decoration: none;
  border-color: #ffffff00;
  box-shadow: none;
}

button:not(.collapsed) .open-menu span:nth-of-type(1) {
  transform: rotate(45deg) translate(6px, 13px);
}

button:not(.collapsed) .open-menu span:nth-of-type(2) {
  transform: rotate(-45deg) translate(0, -5px);
}

button.navbar-toggler.collapsed {
  padding-top: 7px;
}

.modal-dialog {
  width: 100%;
  padding: 5px;
  margin-top: 0;
  margin-bottom: 0;
}

.modal.show {
  backdrop-filter: grayscale(1) blur(5px);
}

.modal-content div {
  border: none;
}

.modal-body {
  text-align: center;
  font-size: 20px;
}

button.btn.btn-primary {
  background-color: var(--Blue);
}

input.inputBox {
  background-color: white;
}

div#mainTitleContain {
  display: flex;
  /* align-content: space-around; */
  flex-direction: column;
  /* flex-wrap: wrap; */
  /* align-items: baseline; */
  /* height: 100%; */
  min-height: calc(100vh - 55px);
  justify-content: center;
  overflow: hidden;
}

.mainChr {
  font-size: 75px;
  color: transparent;
  display: inline-block;
  text-shadow: #33333300 -1px -1px 14px;
}

.raiseChr {
  font-size: 35px;
  color: transparent;
  display: inline-block;
  text-shadow: #33333300 -1px -1px 10px;
}

div#btnRow {
  display: flex;
  padding: 5px;
  margin: 5px;
  flex-wrap: wrap;
  justify-content: center;
}

.mainBtn {
  background: rgb(0, 0, 0);
  margin: 5px;
  padding: 0 5px;
  border: 1px solid black;
  color: rgb(255, 255, 255);
  border-radius: 18px;
  min-width: 80px;
  font-weight: 900;
  cursor: pointer;
  z-index: 1000;
  transform: translate(200vh, 0px);
}

#mainBtn0 {
  background: var(--Blue);
}

#mainBtn1 {
  background: var(--Red);
}

#mainBtn2 {
  background: var(--Yellow);
}

div#services {
  margin: 60px 0;
  padding: 60px 0;

  /* background-color: #e5e5f7;
  opacity: 0.8;
  background-image:  linear-gradient(#444cf7 2px, transparent 2px), linear-gradient(90deg, #444cf7 2px, transparent 2px), linear-gradient(#444cf7 1px, transparent 1px), linear-gradient(90deg, #444cf7 1px, #e5e5f7 1px);
  background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px; */

}

div#serviceCategory {
  display: inline-block;
}

.serviceCategory span {
  font-size: 35px;
  color: black !important;
}

div#servicesBlurb {
  max-width: 50em;
  width: 100%;
  margin: 1em auto;
  padding: 0 15px;
}

div#serviceCategoryHolder {
  display: inline-block;
  border: solid black 1px;
  border-radius: 30px;
  margin: auto;
  backdrop-filter: blur(3px);
  padding: 2em 5px 10px;
  background-color: #ffffffb3;
  opacity: 1;
}

.serviceList.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
  /* display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px; */
}

.serviceList>div {
  max-width: 26em;
  min-width: 20em;
  text-align: left;
  margin: 3vh 0 0;
}

.serviceItemNameHolder {
  margin-top: 2vh;
}

.serviceItemName span {
  font-weight: 700;
  font-size: larger;
  margin: 2vw 0 0 0;

}

.serviceCategory,
.serviceItemName,
.serviceItemDescription,
.serviceItemIcon,
.servicesBlurb {
  transition: opacity 0.5s ease-in, transform 1s ease-out;
  opacity: 0;
  display: inline-block;
  line-height: 5em;
  margin: -2em 0;
}

.serviceItem {
  border: solid black 1px;
  border-radius: 30px;
  backdrop-filter: blur(3px);
  padding: 2em 1em;
  background-color: #ffffffb3;
  opacity: 1;
}

.serviceCategory.flutter,
.servicesBlurb.flutter {
  display: inline-block;
}

.iconHolder svg {
  width: 37px;
  fill: var(--Blue);
}

.serviceItemName {
  font-size: 20px;
}

.serviceItemDescription {
  font-size: 16px;
}

div#techs {
  /* min-height: 200px; */
  /* background-color: #ffffff; */
  color: #000000;
  /* display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative; */
  padding: 13vh 0;
  box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
  transition: background-color 1s, color 1s, box-shadow 1s;
  position: relative;

  a {
    font-size: 20px;
  }
}

div#techBack {
  width: 100%;
  position: absolute;
  height: 100%;
  top: 0;
}


div#techBack {
  transition: opacity 0.3s;
  opacity: 1;
}

div#techBack.hidden {
  opacity: 0;
}

.techBack {
  width: 100%;
  position: absolute;
  height: 100%;
  opacity: 0;
  transition: opacity .5s;
  background-position: center;
  background-size: 200%;
  filter: blur(5px);
}

.techBack.techChange {
  opacity: 0.2;
}

.techBackGlass {
  width: 100%;
  position: absolute;
  height: 100%;
  /* backdrop-filter: blur(4px); */
}

div#techsTitle {
  font-size: 2.25rem;
  line-height: 2.5rem;
  text-align: center;
  position: relative;
}

.techsList {
  display: flex;
  flex-direction: row;
  /* padding: 60px 0;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  white-space: nowrap;
  width: 80vw;*/
  margin: 5vh 5vw;
  padding: 0 5vw;
  position: relative;
  overflow-x: auto;
  /* overscroll-behavior-x: contain; */
  /* scroll-snap-type: x proximity; */
  scroll-snap-type: x mandatory;
  scrollbar-width: thin;
}

/* .techItemHolder {
  display: inline-block;
  margin: 40px 40px 0;
  width: 30vw;
  height: 18vw;
  scroll-snap-align: center;
  overscroll-behavior-x: contain;
} */

.techItemHolder {
  margin: 4vh 2vw;
  padding: 0 1vw;
  min-width: 70vw;
}

.techItemSnap {
  scroll-snap-align: center;
}

.techItemHolder.techChanging {
  /* border: 1px solid black;
  border-width:0px 1px;
  border-radius: 20px; */
}

.techItemHolder.techChange {}



.techItem {
  /* transform: perspective(50px) translate3d(0px, 0px, 0px);
  transition: transform 1s ease-out */
  /* max-width: 80em;
  margin: 0 auto; */
  display: flex;
  flex-wrap: wrap;
}

.techItemName {
  text-align: left;
  font-family: Inter, sans-serif;
  padding: 1vw 2vw;
  font-size: 1.4em;
}

.techItemText {
  min-width: 19em;
  max-width: 45%;
  min-height: 20em;
}

.techItemDesc {
  font-family: Inter, sans-serif;
  text-align: left;
  padding: 1vw 2vw;
}


.techItemImg {
  /* height: 100%; */
  border-radius: .5vw;
  /* box-shadow: 0px 0px 21px 20px rgba(0, 0, 0, 0.1); */
  /* background-size: cover;
  background-position: center; */
  display: grid;
  grid-template-columns: 1fr;
}

.techItemImg img,
.techItemImg video {
  width: 100%;
  grid-row-start: 1;
  grid-column-start: 1;
  /* max-width: 45%; */
}

.techItemLinks {
  font-family: Inter, sans-serif;
  text-align: left;
  padding: 1vw 2vw;
}



.ContactForm {
  margin: 6vh 0 8vh;
  padding: 5vh 15vw;
  font-size: 1.5em;
}

#contactForm .container {
  max-width: 60em;
}

.formInput {
  margin: 1vw;
}

.flutter span {
  transition: opacity 1s ease-in, transform 1s ease-out;
  display: inline-block;
  margin: 0;
}

div#threeBack {
  position: absolute;
  z-index: -1;
  opacity: 1;
  /* transition: 1s; */
  /* background-image: url(/src/assets/backgrounds/hubble_deep.jpg); */
}

div#threeBack.hidden {
  opacity: 0;
}


@media (max-height: 501px) {

  h1,
  h2,
  h3 {
    font-size: 2.2em;
  }

}

@media (max-width: 501px) {

  #root {
    /* padding: 1rem; */
  }

  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1.2em;
  }

  h3 {
    font-size: 1.0em;
  }

  #main,
  #rootMain,
  #mainInfo {
    padding: 10px;
    max-width: 350px;
    min-width: 350px;
  }

  div#basic-navbar-nav {
    background-color: white;
    top: 52px;
    width: 100%;
    transition: transform 500ms ease-out;
    transform: translateY(100vh);
    /* position: fixed; */
  }

  div#basic-navbar-nav.show {
    transform: translateY(65%);
  }

  .mainChr {
    font-size: 35px;
  }

  .raiseChr {
    font-size: 19px;
  }

  div#subTitle {
    font-size: 3vh;
  }

  .serviceList.row {
    width: 100%;
  }

  div#techs a {
    font-size: 17px;
  }

  .techsList {
    margin: 0;
  }

  .techItemName {
    font-size: 1.2em;
  }

  .techItemText {
    min-width: 17em;
  }

}